#song {
  font-size: 25px;
}

#PostForm .card {
  background-color: #60a5ff;
}

#PostForm input {
  background-color: #60a5ff;
  color:white;
  border: none;
}

#PostForm .col-lg-2{
  text-align: center;
  color:white;
}

#PostForm ::placeholder{
  color:white
}

.info{
  margin-top:370px;
  left: 12%;
  position: fixed;
  text-align: center;
}

.info .user-card-top{
  color:white;
}

.error{
  color: #FF0035;
}
.available{
  color: green;
}
.user-card-top{
  background-color: #54A7FF
}
.user{
  margin-top: 100px;
  left: 12%;
  position: fixed;
  text-align: center;
}
.user-icon{
  width: 100px;
}

.video{
  width:100%;
  height: 400px;
}
.success {
  font-size: 25px;
  font-weight: bold;
  color: #4FA2DB;
}
