
body{
  background: #FAFAFA;
}

.post-image{
  max-width:100px;
  min-width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.navbar-brand>img {
  max-height: 20%;
  height: 20%;
  width: 25%;
  margin: 0 auto;
}

/* Ben */
#PostList {
 padding: 0px;
 margin-top: -10px;
}

#PostList .card {
  margin: 25px 0px 0px 0px;
}


#active {
  background-color: #54A7FF;
  padding:20px 10px 20px 10px;
}

.postForm{
  padding-top:120px;
}

#PostForm span {
  cursor: pointer;
}
/* Ben */

#newsfeed {
  border-radius: 0;
  border-bottom: 1px solid #7092be;
  margin-bottom: 20px;
}

.username {
  font-size: .8em;
}

#sidebar {
  border: 1px solid #7092be;
  width:14%;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.avatar-24 {
  max-height: 24px;
  width: 24px;
}

.btn {
  cursor: pointer;
}

#PostList .card-body {
  min-height: 150px;
}

#PostsList .card-header {
  margin-top: 0px;
  background-color: white;
}

.postForm{
  padding-top:100px;
  padding-bottom: 20px;
}

span {
  cursor: pointer;
  margin-right: 10px;
  margin-top: 7px;
}

.badge {
  cursor: pointer;
  margin-top: 8px;
  margin-right: 5px;
  font-size: 14px;
  background-color: #4DA2F3;
  border: none;
  color: white;
}

.pencil {
  font-size: 15px;
  color: white;
}

.song {
  border: 1px solid #7092be;
  width: 485px;
  height: 125px;
  box-sizing: content-box;
  width: 100%;
}

.player {
  width: 100%;
}

.footer {
  margin-top: 25px;
}

#PostList {
  padding: 0px;
  margin-top: -10px;
}


@media only screen and (max-width: 1000px) {
  .column {
    display: block;
  }
}
