.post-image{
  max-width:100px;
  min-width: 100px;
  min-width: 100px;
  max-width: 100px;
}


.navbar-brand>img {
   max-height: 20%;
   height: 20%;
   width: 25%;
   margin: 0 auto;
 }

.card {
  margin: 35px 0px 35px 0px;
}

.postForm{
  padding:80px 0px 30px 0px;

}

#PostList{
  background-color: lightgrey;
}



@media only screen and (max-width: 1000px) {
  .column {
    display: block;
  }
}
