
body{
  background: #FAFAFA;
}

.post-image{
  max-width:100px;
  min-width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.navbar-brand>img {
   max-height: 20%;
   height: 20%;
   width: 25%;
   margin: 0 auto;
 }

#PostList {
 padding: 0px;
 margin-top: -10px;
}

#PostList .card {
  margin: 15px 0px 15px 0px;
}


#active {
  background-color: #54A7FF;
  padding:20px;
}

.postForm{
  padding-top:120px;
}

#PostForm span {
  cursor: pointer;
}


@media only screen and (max-width: 1000px) {
  .column {
    display: block;
  }
}
